In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vehPopCounty.csv')
df[' Number of Vehicles '] = df[' Number of Vehicles '].str.strip(' ').str.replace(',', '').astype(int)
df.head()

   Data Year   County   Fuel Type   Make     Model   Number of Vehicles
0       2010  Alameda    Electric   Ford    Ranger                     3
1       2010  Alameda    Electric  Tesla  Roadster                    17
2       2010  Alameda  Bio Diesel    NaN       NaN                    11
3       2010  Alameda      Diesel    NaN       NaN                 10928
4       2010  Alameda   Flex Fuel    NaN       NaN                 10974

In [8]:
tesla_2020 = df[(df['Data Year'] == 2020) & (df['Make'] == 'Tesla')].groupby('County')[' Number of Vehicles '].sum().to_frame().reset_index()
tesla_2020 = tesla_2020.rename(columns={' Number of Vehicles ': 'num_vehicles'})

tesla_2020.head()

      County  num_vehicles
0    Alameda         19102
1     Alpine             5
2     Amador            63
3      Butte           299
4  Calaveras            75

In [4]:
df.columns

Index(['Data Year', 'County', 'Fuel Type', 'Make', 'Model',
       ' Number of Vehicles '],
      dtype='object')

In [28]:
tesla_2020.to_csv('tesla_2020.csv')

In [9]:
for year in df['Data Year'].unique():
    temp = df[(df['Data Year'] == year) & (df['Make'] == 'Tesla')].groupby('County')[' Number of Vehicles '].sum().to_frame().reset_index()
    temp = temp.rename(columns={' Number of Vehicles ': 'num_vehicles'})
    temp.to_csv(f'tesla_{year}.csv')